In [40]:
import requests
from bs4 import BeautifulSoup

# 네이버 금융의 환율 페이지 URL
url = "https://finance.naver.com/marketindex/exchangeList.naver"

# 페이지 요청
response = requests.get(url)

# BeautifulSoup으로 HTML 파싱
soup = BeautifulSoup(response.text, 'html.parser')

# summary가 "환전 고시 환율 리스트"인 테이블 선택
exchange_table = soup.select('td.tit')
temp = [name.text.strip() for name in exchange_table]
currency_name = temp[:4]
currency_name.append(temp[6])

exchange_table = soup.select('td.sale')
temp = [val.text.strip() for val in exchange_table]
currency_val = temp[:3]

exchange_rates = {currency_name[i] : currency_val[i] for i in range(len(currency_name))}
print(exchange_rates)

{'미국 USD': '1,465.80', '유럽연합 EUR': '1,501.71', '일본 JPY (100엔)': '929.52', '중국 CNY': '199.52', '영국 GBP': '1,789.96'}

In [14]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

currency_list = [
    "USD", "EUR", "JPY"
]

#tab = 'USD'

changes = {}
currency = {}

names = [
    '미국 USD', '유럽연합 EUR', '일본 JPY (100엔)'
]
j=0

#for tab in currency_list:
def collect_exchange_rates(tab, pg_num):
    for pg in range(pg_num):
        url = f"https://finance.naver.com/marketindex/exchangeDailyQuote.naver?marketindexCd=FX_{tab}KRW&page={pg+1}"

        response = requests.get(url)#, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')

        date = soup.select('tbody tr')
        #print(date)
        dates = [d.select_one('td.date').text for d in date]
        nums = [d.select_one('td.num').text for d in date]
        
        for i in range(len(dates)):
            changes[dates[i]] = nums[i]

    df = pd.DataFrame(data = changes)
    return df

pg_num = 3

exchange_rates = pd.DataFrame(columns=names, data = np.zeros((pg_num * 10, 3)))

for tab in currency_list:
   df = collect_exchange_rates(tab, pg_num)
print(df)

ValueError: If using all scalar values, you must pass an index

In [4]:
import streamlit as st
import pandas as pd

currency_df = pd.DataFrame(data=currency)
currency_df

            미국 USD 유럽연합 EUR 일본 JPY (100엔)
2025.01.14  927.87   927.87        927.87
2025.01.13  933.40   933.40        933.40
2025.01.10  935.05   935.05        935.05
2025.01.09  923.53   923.53        923.53
2025.01.08  923.08   923.08        923.08
2025.01.07  920.42   920.42        920.42
2025.01.06  928.12   928.12        928.12
2025.01.03  935.36   935.36        935.36
2025.01.02  934.49   934.49        934.49
2024.12.31  939.09   939.09        939.09
2024.12.30  937.99   937.99        937.99
2024.12.27  934.80   934.80        934.80
2024.12.26  930.49   930.49        930.49
2024.12.24  928.30   928.30        928.30
2024.12.23  924.31   924.31        924.31
2024.12.20  928.16   928.16        928.16
2024.12.19  919.69   919.69        919.69
2024.12.18  938.06   938.06        938.06
2024.12.17  937.15   937.15        937.15
2024.12.16  933.27   933.27        933.27
2024.12.13  934.69   934.69        934.69
2024.12.12  938.42   938.42        938.42
2024.12.11  938.43   938.43        938.43
2024.12.10  944.69   944.69        944.69
2024.12.09  946.90   946.90        946.90
2024.12.06  949.30   949.30        949.30
2024.12.05  943.80   943.80        943.80
2024.12.04  939.02   939.02        939.02
2024.12.03  947.50   947.50        947.50
2024.12.02  940.52   940.52        940.52

In [ ]:
rates = {}
pg_num = 3
for pg in range(pg_num):
        url = f"https://finance.naver.com/marketindex/exchangeDailyQuote.naver?marketindexCd=FX_{tab}KRW&page={pg+1}"

        response = requests.get(url)#, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')

        date = soup.select('tbody tr')
        #print(date)
        dates = [d.select_one('td.date').text for d in date]
        nums = [d.select_one('td.num').text for d in date]
        
        for i in range(len(dates)):
            rates[dates[i]] = nums[i]

df = pd.DataFrame(list(rates.items()), columns=['date', '미국 USD'])

# DataFrame을 원하는 형태로 변환
df.set_index('date', inplace=True)
df

              미국 USD
date
2025.01.14  1,463.60
2025.01.13  1,468.00
2025.01.10  1,474.80
2025.01.09  1,460.70
2025.01.08  1,461.00
2025.01.07  1,454.50
2025.01.06  1,462.90
2025.01.03  1,471.00
2025.01.02  1,471.50
2024.12.31  1,477.00
2024.12.30  1,471.80
2024.12.27  1,476.00
2024.12.26  1,469.20
2024.12.24  1,459.20
2024.12.23  1,452.60
2024.12.20  1,449.50
2024.12.19  1,448.00
2024.12.18  1,451.70
2024.12.17  1,438.20
2024.12.16  1,438.50
2024.12.13  1,436.20
2024.12.12  1,431.80
2024.12.11  1,430.50
2024.12.10  1,435.50
2024.12.09  1,432.00
2024.12.06  1,424.00
2024.12.05  1,416.50
2024.12.04  1,413.50
2024.12.03  1,417.50
2024.12.02  1,406.50

In [33]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

def merge_dataframes(*dataframes):
    # 모든 DataFrame을 병합하여 하나의 DataFrame으로 반환
    return pd.concat(dataframes, axis=1)

def collect_exchange_rates(tab, pg_num, name):
    rates = {}
    for pg in range(pg_num):  # 기본 페이지에서는 30일치 데이터를 크롤링
        # url 설정
        url = f"https://finance.naver.com/marketindex/exchangeDailyQuote.naver?marketindexCd=FX_{tab}KRW&page={pg+1}"

        # response get
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')

        # 날짜별 환율 크롤링
        date_rows = soup.select('tbody tr')
        
        for row in date_rows:
            date = row.select_one('td.date').text.strip()
            num = row.select_one('td.num').text.strip().replace(',', '')
            rates[date] = num

    # DataFrame 생성
    df = pd.DataFrame(list(rates.items()), columns=['date', name])
    df.set_index('date', inplace=True)
    
    return df  # DataFrame을 반환

# 사용 예시
pg_num = 3
names = [
    '미국 USD', '유럽연합 EUR', '일본 JPY (100엔)'
]
currency_list = [
    "USD", "EUR", "JPY"
]

# 각 통화에 대해 collect_exchange_rates를 호출하고 결과를 merge_dataframes로 합치기
dataframes = []
for tab, name in zip(currency_list, names):
    df = collect_exchange_rates(tab, pg_num, name)
    dataframes.append(df)

# merge_dataframes로 최종 DataFrame 생성
final_exchange_df = merge_dataframes(*dataframes)

# 결과 출력
print(final_exchange_df)

             미국 USD 유럽연합 EUR 일본 JPY (100엔)
date
2025.01.14  1463.50  1499.50        928.88
2025.01.13  1468.00  1507.86        933.40
2025.01.10  1474.80  1510.79        935.05
2025.01.09  1460.70  1504.59        923.53
2025.01.08  1461.00  1507.53        923.08
2025.01.07  1454.50  1504.32        920.42
2025.01.06  1462.90  1519.88        928.12
2025.01.03  1471.00  1515.50        935.36
2025.01.02  1471.50  1510.72        934.49
2024.12.31  1477.00  1529.80        939.09
2024.12.30  1471.80  1531.11        937.99
2024.12.27  1476.00  1538.95        934.80
2024.12.26  1469.20  1531.49        930.49
2024.12.24  1459.20  1516.69        928.30
2024.12.23  1452.60  1511.58        924.31
2024.12.20  1449.50  1512.12        928.16
2024.12.19  1448.00  1500.92        919.69
2024.12.18  1451.70  1502.65        938.06
2024.12.17  1438.20  1509.32        937.15
2024.12.16  1438.50  1511.86        933.27
2024.12.13  1436.20  1507.51        934.69
2024.12.12  1431.80  1499.09        938.42
2024.12.11  1430.50  1501.74        938.43
2024.12.10  1435.50  1511.37        944.69
2024.12.09  1432.00  1511.40        946.90
2024.12.06  1424.00  1504.03        949.30
2024.12.05  1416.50  1499.65        943.80
2024.12.04  1413.50  1485.94        939.02
2024.12.03  1417.50  1489.65        947.50
2024.12.02  1406.50  1476.75        940.52

In [3]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

def merge_dataframes(*dataframes):
    # 모든 DataFrame을 병합하여 하나의 DataFrame으로 반환
    return pd.concat(dataframes, axis=1)

def collect_exchange_rates(tab, pg_num, name):
    rates = {}
    for pg in range(pg_num):  # 기본 페이지에서는 지정된 수만큼 데이터를 크롤링
        # url 설정
        url = f"https://finance.naver.com/marketindex/exchangeDailyQuote.naver?marketindexCd=FX_{tab}KRW&page={pg+1}"

        # response get
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')

        # 날짜별 환율 크롤링
        date_rows = soup.select('tbody tr')
        
        for row in date_rows:
            date = row.select_one('td.date').text.strip()
            num = row.select_one('td.num').text.strip().replace(',', '')
            rates[date] = num

    # DataFrame 생성
    df = pd.DataFrame(list(rates.items()), columns=['date', name])
    df.set_index('date', inplace=True)
    
    return df  # DataFrame을 반환

def get_final_exchange_rates(currency_list, names, pg_num):
    dataframes = []
    for tab, name in zip(currency_list, names):
        df = collect_exchange_rates(tab, pg_num, name)
        dataframes.append(df)

    # merge_dataframes로 최종 DataFrame 생성
    final_exchange_df = merge_dataframes(*dataframes)
    return final_exchange_df  # 최종 DataFrame 반환

def get_individual_rates(currency, pg_num):
    # currency_list에서 선택한 한 가지 항목에 대해 환율 데이터를 수집
    name = currency  # 통화 이름을 currency로 설정
    df = collect_exchange_rates(currency, pg_num, name)
    return df  # 개별 DataFrame 반환

# 사용 예시
pg_num = 3
names = [
    '미국 USD', '유럽연합 EUR', '일본 JPY (100엔)'
]
currency_list = [
    "USD", "EUR", "JPY"
]

# 최종 환율 DataFrame을 가져오기
final_exchange_df = get_final_exchange_rates(currency_list, names, pg_num)

# 개별 환율 데이터 가져오기 예시
individual_currency = "USD"
individual_pg_num = 2
individual_rates_df = get_individual_rates(individual_currency, individual_pg_num)

final_exchange_df

             미국 USD 유럽연합 EUR 일본 JPY (100엔)
date
2025.01.14  1463.60  1499.90        928.53
2025.01.13  1468.00  1507.86        933.40
2025.01.10  1474.80  1510.79        935.05
2025.01.09  1460.70  1504.59        923.53
2025.01.08  1461.00  1507.53        923.08
2025.01.07  1454.50  1504.32        920.42
2025.01.06  1462.90  1519.88        928.12
2025.01.03  1471.00  1515.50        935.36
2025.01.02  1471.50  1510.72        934.49
2024.12.31  1477.00  1529.80        939.09
2024.12.30  1471.80  1531.11        937.99
2024.12.27  1476.00  1538.95        934.80
2024.12.26  1469.20  1531.49        930.49
2024.12.24  1459.20  1516.69        928.30
2024.12.23  1452.60  1511.58        924.31
2024.12.20  1449.50  1512.12        928.16
2024.12.19  1448.00  1500.92        919.69
2024.12.18  1451.70  1502.65        938.06
2024.12.17  1438.20  1509.32        937.15
2024.12.16  1438.50  1511.86        933.27
2024.12.13  1436.20  1507.51        934.69
2024.12.12  1431.80  1499.09        938.42
2024.12.11  1430.50  1501.74        938.43
2024.12.10  1435.50  1511.37        944.69
2024.12.09  1432.00  1511.40        946.90
2024.12.06  1424.00  1504.03        949.30
2024.12.05  1416.50  1499.65        943.80
2024.12.04  1413.50  1485.94        939.02
2024.12.03  1417.50  1489.65        947.50
2024.12.02  1406.50  1476.75        940.52